asgiref==3.11.1
attrs==26.1.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==46.0.6
defusedxml==0.7.1
dj-database-url==3.1.2
django==6.0.3
django-allauth==65.15.1
django-cors-headers==4.9.0
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
dotenv==0.9.9
drf-spectacular==0.29.0
idna==3.11
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
load-dotenv==0.1.0
oauthlib==3.3.1
pycparser==3.0
pyjwt==2.12.1
python-dotenv==1.2.2
python-social-auth==0.3.6
python3-openid==3.2.0
pyyaml==6.0.3
referencing==0.37.0
requests==2.33.1
requests-oauthlib==2.0.0
rpds-py==0.30.0
social-auth-app-django==5.7.0
social-auth-core==4.8.5
sqlparse==0.5.5
uritemplate==4.2.0
urllib3==2.6.3
whitenoise==6.12.0
